.crud-data{
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 180px;
    color: darkgoldenrod;
}
.data{
    padding-bottom: 20px;
    padding-top: 30px;
    text-decoration: underline;
}