.validation{
    background-color: rgb(190, 214, 249);
    height: 350px;
    width: 400px;
    border-radius: 8px;
    font-family: cursive;
}
.validation h2{
    padding-top: 25px;
}
.validation .btn{
    background-color: rgb(242, 149, 56);
    color: antiquewhite;
}
.validation .btn:hover{
    background-color: rgb(6, 150, 6);
}